:root {
    --main-color: #5ce1e6;
    --transition: 0.3s;
    --black-gradient: linear-gradient(144.39deg, #ffffff -278.56%, #6d6d6d -78.47%, #11101d 91.61%);
}

.text-gradient {
    background: radial-gradient(64.18% 64.18% at 71.16% 35.69%, #def9fa .89%, #bef3f5 17.23%, #9dedf0 42.04%, #7de7eb 55.12%, #5ce1e6 71.54%, #33bbcf 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.bg__Dark {
    background-color: #0d0f1b;
}

.blue__gradient-left,
.blue__gradient-right {
    background: linear-gradient(180deg, #bca5ff00 50%, #214d76 100%);
    filter: blur(60px);
    width: 400px !important;
    height: 400px;
    z-index: -1;
    position: absolute;
}

.blue__gradient-left {
    left: 40px;
}

.blue__gradient-right {
    right: 40px;
}

.hidden-left {
    transform: translateX(100%);
}

.hidden-right {
    transform: translateX(-100%);
}

.hidden-top {
    transform: translateY(-100%);
}

.hidden-button {
    transform: translateY(100%);
}

.hidden-left,
.hidden-right,
.hidden-top,
.hidden-button {
    opacity: 0;
    filter: blur(5px);
    transition: 1s;
    transition-timing-function: step-start(2)
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translate(0, 0);
}

.fs-40 {
    font-size: 40px;
}

.fs-20 {
    font-size: 20px;
}

.fs-30 {
    font-size: 30px;
}